production:
  type: sqlite
  name: production
  database: db/glia-amm.sqlite3.production
  entities:
    - lib/**/*.entity.js
  migrations:
    - lib/migrations/*.js
  logging: true
  synchronize: false
  migrationsRun: false

development-ckDAI:
  type: sqlite
  name: development-ckDAI
  database: db/glia-amm.sqlite3.ckDAI.development
  entities:
    - src/**/*.entity.ts
  logging: false
  logger: advanced-console
  synchronize: true

development-ckETH:
  type: sqlite
  name: development-ckETH
  database: db/glia-amm.sqlite3.ckETH.development
  entities:
    - src/**/*.entity.ts
  logging: false
  logger: advanced-console
  synchronize: true

development-ckUSDC:
  type: sqlite
  name: development-ckUSDC
  database: db/glia-amm.sqlite3.ckUSDC.development
  entities:
    - src/**/*.entity.ts
  logging: false
  logger: advanced-console
  synchronize: true

development-ckUSDT:
  type: sqlite
  name: development-ckUSDT
  database: db/glia-amm.sqlite3.ckUSDT.development
  entities:
    - src/**/*.entity.ts
  logging: false
  logger: advanced-console
  synchronize: true

development-Glia:
  type: sqlite
  name: development-Glia
  database: db/glia-amm.sqlite3.Glia.development
  entities:
    - src/**/*.entity.ts
  logging: false
  logger: advanced-console
  synchronize: true

#test:
#  type: sqlite
#  name: test
#  database: ':memory:'
#  entities:
#    - src/**/*.entity.ts
#  logging: true
#  synchronize: true

test:
  type: sqlite
  name: test
  database: db/glia-amm.sqlite3.test
  entities:
    - src/**/*.entity.ts
  logging: false
  logger: advanced-console
  synchronize: true
